*.cdf
*.csv
*.nc
*.tmp*
*.swp
*.swo
*.grb2
*.grib2
*.grb
*.jpg
*.png
*.gif
*.npz
*.txt
*.log
*.zip
*.mp4
AR_sounding/
figures/
final_figures/
__pycache__/
data/*
gendata/*
.nfs*
*.svg
*.pdf
*.swp
!figures_static/*
